@import url(http://fonts.googleapis.com/css?family=Poiret+One);
@import url(//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 2.5% 5%;
}
a {
    text-decoration: none;}
hr { display: block; height: 1px;
    border: 0; border-top: 1px solid #ccc;
    margin: 1em 0; padding: 0; 
}
.clear {clear:both;}

ul li{
    list-style-type: none;
}
nav {
    background: #2F2F2F;
    position: relative;
    top: 0;
    margin: 0 auto;
    width: 100%;
    min-height: 50px;
}
nav h1 {
    float:left;
    line-height: 30px;
    padding: 10px;
    font-size: 26px;
    color: #DFDFDF !important;
    font-family: 'Poiret One', cursive;
    font-weight: 100;
}
nav ul {
    float: left;
    height: 50px;
}
nav ul li {
    display: inline-block;
    height: 50px;
}
nav ul li a{
    display: inline-block;
    height: 50px;
    padding: 10px;
    line-height: 30px;
    font-size: 14px;
    color: #BFBFBF !important;
    font-family: Helvetica, sans-serif;
    transition: color .1s linear;
    -webkit-transition: color .1s linear;
    -moz-transition: color .1s linear;
    -o-transition: color .1s linear;
}
nav ul li a:hover{
    color: #FFF !important;
}

#lists, #list{
    margin: 10px 0 0 0;
    font-family: 'Poiret One', cursive;
    text-align: center;
}
#lists>ul>li, #list>ul>li{
    text-transform: capitalize;
    font-family: 'Poiret One', cursive;
    font-size: 52px;
    line-height: 70px;
    padding: 8px 0;
    text-align: left;
}
#lists>ul>li>a, #list>ul>li{
    color: #BFBFBF;
    transition: color .4s linear;
    -webkit-transition: color .4s linear;
    -moz-transition: color .4s linear;
    -o-transition: color .4s linear;
}
#lists li>a:hover, #list li:hover {
    color: #000;
}
.list-title {
    text-transform: capitalize;
    text-align: center;
    font-size: 32px;
    line-height: 40px;
}
.list_actions {
    height: 40px;
    display: inline-block;
    float: right;
}
.list_actions>li {
    padding: 0px;
    height: 40px;
    text-align:center;
    border-radius: 100%;
    border: solid 1px #BFBFBF;
    line-height: 40px;
    width: 40px
}
.list_actions a {
    display: inline-block;
    height: 40px;
    width: 40px;
    color: #BFBFBF;
}

.tasks_actions {
    height: 70px;
    display: inline-block;
    float: right;
}
.tasks_actions>li {
    padding: 0px;
    height: 70px;
    text-align:center;
    border-radius: 100%;
    border: solid 1px #BFBFBF;
    line-height: 70px;
    width: 70px
}
.tasks_actions a {
    display: inline-block;
    height: 70px;
    width: 70px;
    color: #BFBFBF;
}
.list_actions a:hover, .tasks_actions a:hover {
    color: #000;
}